flows/flows.json
[{"id":"8f0ae347.b76c3","type":"tab","label":"Game Selection"},{"id":"a211b539.bfe828","type":"tab","label":"Score-Management"},{"id":"e172d31b.9b19c","type":"tab","label":"Game-Framework"},{"id":"abd244e8.dce37","type":"tab","label":"Game: Catch 'em all"},{"id":"f726cb64.226b08","type":"tab","label":"Game: Time-Attack"},{"id":"a5a5bf84.ec9fb8","type":"tab","label":"Game Dummy"},{"id":"dd201062.5ac6d8","type":"subflow","name":"decrease target score","info":"","in":[{"x":500,"y":80,"wires":[{"id":"2e927753.11f9b8"}]}],"out":[{"x":1000,"y":80,"wires":[{"id":"ff0b12cf.cdc898","port":0}]}]},{"id":"7e8e71bd.c8b97","type":"subflow","name":"increase target score","info":"","in":[{"x":500,"y":160,"wires":[{"id":"ddaa030.e4c5f8"}]}],"out":[{"x":1000,"y":160,"wires":[{"id":"a8106476.f69ce8","port":0}]}]},{"id":"f7d20369.2f84b8","type":"subflow","name":"save target score","info":"","in":[{"x":60,"y":60,"wires":[{"id":"432c3ef5.89621"}]}],"out":[{"x":720,"y":200,"wires":[{"id":"98faf089.9f9c18","port":0}]}]},{"id":"ea4ba4d4.3dd5d8","type":"subflow","name":"switch target to color","info":"","in":[{"x":40,"y":40,"wires":[{"id":"6a64cbc4.46ae94"}]}],"out":[]},{"id":"2025be16.e1efa2","type":"subflow","name":"reset all targets to zero","info":"","in":[{"x":300,"y":60,"wires":[{"id":"9683ebe5.e55918"}]}],"out":[]},{"id":"dddf75c1.ea3a38","type":"subflow","name":"ring bell","info":"","in":[{"x":360,"y":320,"wires":[{"id":"141e9760.318079"},{"id":"5f478d72.95cc24"},{"id":"ac6fdb01.e90cf8"}]}],"out":[]},{"id":"d8eb89a8.191d08","type":"subflow","name":"save current targets","info":"","in":[{"x":480,"y":160,"wires":[{"id":"2b154a1.74b2636"}]}],"out":[{"x":820,"y":160,"wires":[{"id":"2b154a1.74b2636","port":0}]}]},{"id":"d27b4331.3d8588","type":"ui_tab","z":"","name":"Spieleinstellungen","icon":"dashboard","order":2},{"id":"fe42e1eb.5fcea8","type":"ui_group","z":"","name":"Spielmodi","tab":"d27b4331.3d8588","order":1,"disp":true,"width":"12"},{"id":"aed4be4.f0d82c","type":"ui_group","z":"","name":"Versus","tab":"d27b4331.3d8588","order":2,"disp":true,"width":"6"},{"id":"816d880f.eac5f","type":"ui_group","z":"","name":"Reihe","tab":"d27b4331.3d8588","order":3,"disp":true,"width":"6"},{"id":"aa48eb70.ea0ba8","type":"ui_tab","z":"","name":"Game: Catch 'em All","icon":"dashboard","order":3},{"id":"97d8b39b.4756a","type":"ui_group","z":"","name":"Status","tab":"aa48eb70.ea0ba8","order":1,"disp":true,"width":"6"},{"id":"f650ea60.64012","type":"ui_group","z":"","name":"Spielrahmen","tab":"d27b4331.3d8588","order":4,"disp":true,"width":"6"},{"id":"79591c5d.99567c","type":"mqtt-broker","z":"","broker":"172.17.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"87496665.a75858","type":"ui_tab","z":"","name":"Management","icon":"dashboard","order":1},{"id":"3ef05cac.0790c4","type":"ui_group","z":"","name":"Scheiben-Management","tab":"87496665.a75858","order":3,"disp":true,"width":"9"},{"id":"83649f9f.239f","type":"ui_group","z":"","name":"Game Selection","tab":"87496665.a75858","order":1,"disp":true,"width":"6"},{"id":"aad72725.e26a58","type":"ui_group","z":"","name":"","tab":"87496665.a75858","order":4,"disp":true,"width":"6"},{"id":"449b1b27.7f4904","type":"ui_group","z":"","name":"Time","tab":"aa48eb70.ea0ba8","order":2,"disp":true,"width":"6"},{"id":"3234a7f4.36f25","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":2,"width":"1","height":"1","label":"-","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":40,"wires":[["fdbd428a.065998"]]},{"id":"49999d9a.99efbc","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":3,"width":"1","height":"1","label":"0","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"0","payloadType":"num","topic":"","x":150,"y":160,"wires":[["ea1e8222.97f2e"]]},{"id":"12d15be5.62131c","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":4,"width":"1","height":"1","label":"+","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":80,"wires":[["4343398b.dc406"]]},{"id":"389fd54d.3fba2a","type":"change","z":"a211b539.bfe828","name":"zero score","rules":[{"t":"set","p":"score","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":160,"wires":[["702ed4be.37ef64","3253ad10.d8040a"]]},{"id":"2df63cdc.2c47e4","type":"ui_text","z":"a211b539.bfe828","group":"3ef05cac.0790c4","order":1,"width":"4","height":"1","name":"","label":"Scheibe 1","format":"{{msg.score}}x ({{msg.color}})","layout":"row-spread","x":1220,"y":40,"wires":[]},{"id":"fdbd428a.065998","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":40,"wires":[["cfc61b2a.2e9ef8"]]},{"id":"267d3ba2.aa3cec","type":"change","z":"e172d31b.9b19c","name":"","rules":[{"t":"set","p":"isGameRunning","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"gamemode","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"gameStartedAt","pt":"global","to":"","tot":"date"},{"t":"delete","p":"gameStoppedAt","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":280,"wires":[["b0dacffe.5a4908","11eaaf21.004121","692c30fa.88bdf","453204dd.d95abc"]]},{"id":"ff0b12cf.cdc898","type":"function","z":"dd201062.5ac6d8","name":"decrease score","func":"msg.score--\nif (msg.score < 0) {\n    msg.score = 0\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":80,"wires":[[]]},{"id":"4343398b.dc406","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["7ea4c839.a33eb8"]]},{"id":"2b154a1.74b2636","type":"function","z":"d8eb89a8.191d08","name":"save current targets","func":"var targetList = global.get('targets')\n\ntargetList = targetList || {\n  '1': {\n    score: 0,\n    color: 'off'\n  },\n  '2': {\n    score: 0,\n    color: 'off'\n  },\n  '3': {\n    score: 0,\n    color: 'off'\n  },\n  '4': {\n    score: 0,\n    color: 'off'\n  },\n  '5': {\n    score: 0,\n    color: 'off'\n  },\n  '6': {\n    score: 0,\n    color: 'off'\n  }\n}\n\n// set score\nif (msg.score !== undefined) {\n  targetList[msg.target].score = msg.score\n}\n\n// set color\nif (msg.color) {\n  targetList[msg.target].color = msg.color\n}\n\n// save\nglobal.set('targets', targetList)\nmsg.targets = targetList\nmsg.score = targetList[msg.target].score\nmsg.color = targetList[msg.target].color\n\nreturn msg","outputs":1,"noerr":0,"x":660,"y":160,"wires":[[]]},{"id":"a8106476.f69ce8","type":"function","z":"7e8e71bd.c8b97","name":"increase score","func":"msg.score++\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":160,"wires":[[]]},{"id":"cfc61b2a.2e9ef8","type":"subflow:dd201062.5ac6d8","z":"a211b539.bfe828","name":"","x":520,"y":40,"wires":[["702ed4be.37ef64"]]},{"id":"7ea4c839.a33eb8","type":"subflow:7e8e71bd.c8b97","z":"a211b539.bfe828","name":"","x":520,"y":80,"wires":[["702ed4be.37ef64"]]},{"id":"ea1e8222.97f2e","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["389fd54d.3fba2a"]]},{"id":"39f6be50.e5c81a","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":9,"width":"1","height":"1","label":"-","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":440,"wires":[["b3903b2a.c7ff5"]]},{"id":"d21a74b8.d04b28","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":10,"width":"1","height":"1","label":"0","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"0","payloadType":"num","topic":"","x":150,"y":560,"wires":[["7a0d2bca.ff89b4"]]},{"id":"8f61e94c.a9685","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":11,"width":"1","height":"1","label":"+","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":480,"wires":[["bacc725e.7dd4f"]]},{"id":"641eeffa.7cbb78","type":"change","z":"a211b539.bfe828","name":"zero score","rules":[{"t":"set","p":"score","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":560,"wires":[["a7978a7e.b6bdf8"]]},{"id":"1ec9507a.5accc","type":"ui_text","z":"a211b539.bfe828","group":"3ef05cac.0790c4","order":8,"width":"4","height":"1","name":"","label":"Scheibe 2","format":"{{msg.score}}x ({{msg.color}})","layout":"row-spread","x":1220,"y":440,"wires":[]},{"id":"b3903b2a.c7ff5","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":440,"wires":[["d0b332c2.4c7698"]]},{"id":"bacc725e.7dd4f","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":480,"wires":[["a9b5fa54.7b9cb8"]]},{"id":"d0b332c2.4c7698","type":"subflow:dd201062.5ac6d8","z":"a211b539.bfe828","name":"","x":520,"y":440,"wires":[["a7978a7e.b6bdf8"]]},{"id":"a9b5fa54.7b9cb8","type":"subflow:7e8e71bd.c8b97","z":"a211b539.bfe828","name":"","x":520,"y":480,"wires":[["a7978a7e.b6bdf8"]]},{"id":"7a0d2bca.ff89b4","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":560,"wires":[["641eeffa.7cbb78"]]},{"id":"8c3b5a40.1024a","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":16,"width":"1","height":"1","label":"-","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":860,"wires":[["63e622cb.576b14"]]},{"id":"2673cf8f.18d27","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":17,"width":"1","height":"1","label":"0","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"0","payloadType":"num","topic":"","x":150,"y":980,"wires":[["325dd5df.cf7bda"]]},{"id":"3ad84510.67a832","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":18,"width":"1","height":"1","label":"+","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":900,"wires":[["2587f17b.75642e"]]},{"id":"dfa1a441.6dbe2","type":"change","z":"a211b539.bfe828","name":"zero score","rules":[{"t":"set","p":"score","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":980,"wires":[["dc99179c.0d7558"]]},{"id":"23cbff9b.edcfe","type":"ui_text","z":"a211b539.bfe828","group":"3ef05cac.0790c4","order":15,"width":"4","height":"1","name":"","label":"Scheibe 3","format":"{{msg.score}}x ({{msg.color}})","layout":"row-spread","x":1220,"y":860,"wires":[]},{"id":"63e622cb.576b14","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":860,"wires":[["f9706f30.8d58a8"]]},{"id":"2587f17b.75642e","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":900,"wires":[["57f894b4.61a134"]]},{"id":"f9706f30.8d58a8","type":"subflow:dd201062.5ac6d8","z":"a211b539.bfe828","name":"","x":520,"y":860,"wires":[["dc99179c.0d7558"]]},{"id":"57f894b4.61a134","type":"subflow:7e8e71bd.c8b97","z":"a211b539.bfe828","name":"","x":520,"y":900,"wires":[["dc99179c.0d7558"]]},{"id":"325dd5df.cf7bda","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":980,"wires":[["dfa1a441.6dbe2"]]},{"id":"9dd32f19.909638","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":23,"width":"1","height":"1","label":"-","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":1280,"wires":[["154a5bb.76e20a4"]]},{"id":"4109ee98.769a08","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":24,"width":"1","height":"1","label":"0","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"0","payloadType":"num","topic":"","x":150,"y":1400,"wires":[["fd2a082d.84061"]]},{"id":"160d06c9.46f9e9","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":25,"width":"1","height":"1","label":"+","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":1320,"wires":[["3c8994f7.386e44"]]},{"id":"9a985c7b.c75c3","type":"change","z":"a211b539.bfe828","name":"zero score","rules":[{"t":"set","p":"score","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1400,"wires":[["ac1fc797.6838c8"]]},{"id":"5c2ad383.b531fc","type":"ui_text","z":"a211b539.bfe828","group":"3ef05cac.0790c4","order":22,"width":"4","height":"1","name":"","label":"Scheibe 4","format":"{{msg.score}}x ({{msg.color}})","layout":"row-spread","x":1220,"y":1280,"wires":[]},{"id":"154a5bb.76e20a4","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1280,"wires":[["4263e16a.0aee38"]]},{"id":"3c8994f7.386e44","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1320,"wires":[["adfbe5f4.99946"]]},{"id":"4263e16a.0aee38","type":"subflow:dd201062.5ac6d8","z":"a211b539.bfe828","name":"","x":520,"y":1280,"wires":[["ac1fc797.6838c8"]]},{"id":"adfbe5f4.99946","type":"subflow:7e8e71bd.c8b97","z":"a211b539.bfe828","name":"","x":520,"y":1320,"wires":[["ac1fc797.6838c8"]]},{"id":"fd2a082d.84061","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1400,"wires":[["9a985c7b.c75c3"]]},{"id":"1a40e5d6.738682","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":30,"width":"1","height":"1","label":"-","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":1680,"wires":[["b6a81632.6b22f"]]},{"id":"fea74c20.8a9eb","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":31,"width":"1","height":"1","label":"0","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"0","payloadType":"num","topic":"","x":150,"y":1800,"wires":[["b7489715.cf4a1"]]},{"id":"f7f1e579.45a8f","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":32,"width":"1","height":"1","label":"+","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":1720,"wires":[["e9d116da.8dd97"]]},{"id":"e8496ed8.0811d","type":"change","z":"a211b539.bfe828","name":"zero score","rules":[{"t":"set","p":"score","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1800,"wires":[["59f4d095.fdba78"]]},{"id":"33549bbe.f79494","type":"ui_text","z":"a211b539.bfe828","group":"3ef05cac.0790c4","order":29,"width":"4","height":"1","name":"","label":"Scheibe 5","format":"{{msg.score}}x ({{msg.color}})","layout":"row-spread","x":1220,"y":1680,"wires":[]},{"id":"b6a81632.6b22f","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1680,"wires":[["24981e5a.b01e82"]]},{"id":"e9d116da.8dd97","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1720,"wires":[["e77fb0a1.7175b"]]},{"id":"24981e5a.b01e82","type":"subflow:dd201062.5ac6d8","z":"a211b539.bfe828","name":"","x":520,"y":1680,"wires":[["59f4d095.fdba78"]]},{"id":"e77fb0a1.7175b","type":"subflow:7e8e71bd.c8b97","z":"a211b539.bfe828","name":"","x":520,"y":1720,"wires":[["59f4d095.fdba78"]]},{"id":"b7489715.cf4a1","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1800,"wires":[["e8496ed8.0811d"]]},{"id":"9794b0a3.9454d8","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":37,"width":"1","height":"1","label":"-","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":2080,"wires":[["b3aa4296.ccc22"]]},{"id":"9c4c1878.30206","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":38,"width":"1","height":"1","label":"0","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"0","payloadType":"num","topic":"","x":150,"y":2200,"wires":[["ea4c15e8.658ef"]]},{"id":"718ac321.0dc1a4","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":39,"width":"1","height":"1","label":"+","color":"black","bgcolor":"#F0F0F0","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":2120,"wires":[["d6dbee0e.1140b"]]},{"id":"94253313.b44d3","type":"change","z":"a211b539.bfe828","name":"zero score","rules":[{"t":"set","p":"score","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2200,"wires":[["b8030d5c.741198"]]},{"id":"b06b039c.b6d4e","type":"ui_text","z":"a211b539.bfe828","group":"3ef05cac.0790c4","order":36,"width":"4","height":"1","name":"","label":"Scheibe 6","format":"{{msg.score}}x ({{msg.color}})","layout":"row-spread","x":1220,"y":2080,"wires":[]},{"id":"b3aa4296.ccc22","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2080,"wires":[["4c007baa.308f3c"]]},{"id":"d6dbee0e.1140b","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2120,"wires":[["fd0d23ff.6813e"]]},{"id":"4c007baa.308f3c","type":"subflow:dd201062.5ac6d8","z":"a211b539.bfe828","name":"","x":520,"y":2080,"wires":[["b8030d5c.741198"]]},{"id":"fd0d23ff.6813e","type":"subflow:7e8e71bd.c8b97","z":"a211b539.bfe828","name":"","x":520,"y":2120,"wires":[["b8030d5c.741198"]]},{"id":"ea4c15e8.658ef","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2200,"wires":[["94253313.b44d3"]]},{"id":"9d27bfa3.142a1","type":"change","z":"e172d31b.9b19c","name":"","rules":[{"t":"set","p":"isGameRunning","pt":"global","to":"false","tot":"bool"},{"t":"delete","p":"gamemode","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":540,"wires":[["f8497d9e.a4959"]]},{"id":"ce1322b5.f83478","type":"mqtt in","z":"e172d31b.9b19c","name":"","topic":"target/+/hit","qos":"2","broker":"79591c5d.99567c","x":200,"y":740,"wires":[["d5ff9fc0.2614e8"]]},{"id":"d5ff9fc0.2614e8","type":"switch","z":"e172d31b.9b19c","name":"game is running?","property":"isGameRunning","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":390,"y":740,"wires":[["fe2e16b4.9831d"]]},{"id":"bcebcf18.6be1d","type":"mqtt out","z":"e172d31b.9b19c","name":"","topic":"","qos":"2","retain":"","broker":"79591c5d.99567c","x":750,"y":740,"wires":[]},{"id":"fe2e16b4.9831d","type":"function","z":"e172d31b.9b19c","name":"create topic","func":"msg.topic = 'game/' + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":740,"wires":[["bcebcf18.6be1d"]]},{"id":"dd7109ed.171388","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"game/target/1/hit","qos":"2","broker":"79591c5d.99567c","x":120,"y":120,"wires":[["4343398b.dc406"]]},{"id":"86d201cc.742858","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"game/target/2/hit","qos":"2","broker":"79591c5d.99567c","x":120,"y":520,"wires":[["bacc725e.7dd4f"]]},{"id":"3fa2a8c7.e2e658","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"target/1/reset","qos":"2","broker":"79591c5d.99567c","x":130,"y":240,"wires":[["ea1e8222.97f2e"]]},{"id":"76fc5cc3.1a3464","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"game/target/3/hit","qos":"2","broker":"79591c5d.99567c","x":120,"y":940,"wires":[["2587f17b.75642e"]]},{"id":"58b1c864.e7f45","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"game/target/4/hit","qos":"2","broker":"79591c5d.99567c","x":120,"y":1360,"wires":[["3c8994f7.386e44"]]},{"id":"5084f9a4.577578","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"game/target/5/hit","qos":"2","broker":"79591c5d.99567c","x":120,"y":1760,"wires":[["e9d116da.8dd97"]]},{"id":"61e7e4f7.fc763c","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"game/target/6/hit","qos":"2","broker":"79591c5d.99567c","x":120,"y":2160,"wires":[["d6dbee0e.1140b"]]},{"id":"b0dacffe.5a4908","type":"template","z":"e172d31b.9b19c","name":"build topic","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"game/{{payload}}/start","x":460,"y":360,"wires":[["337957d6.f291a8"]]},{"id":"8cb22b3a.09f3c","type":"mqtt in","z":"abd244e8.dce37","name":"","topic":"game/catchemall/start","qos":"2","broker":"79591c5d.99567c","x":140,"y":160,"wires":[[]]},{"id":"cecf30fb.90cd38","type":"comment","z":"abd244e8.dce37","name":"key: catchemall","info":"","x":120,"y":40,"wires":[]},{"id":"337957d6.f291a8","type":"mqtt out","z":"e172d31b.9b19c","name":"","topic":"game/<GAME>/start","qos":"","retain":"","broker":"79591c5d.99567c","x":640,"y":360,"wires":[]},{"id":"a7978a7e.b6bdf8","type":"subflow:f7d20369.2f84b8","z":"a211b539.bfe828","name":"save and manage score","x":790,"y":440,"wires":[["1ec9507a.5accc"]]},{"id":"dc99179c.0d7558","type":"subflow:f7d20369.2f84b8","z":"a211b539.bfe828","name":"save and manage score","x":790,"y":860,"wires":[["23cbff9b.edcfe"]]},{"id":"ac1fc797.6838c8","type":"subflow:f7d20369.2f84b8","z":"a211b539.bfe828","name":"save and manage score","x":790,"y":1280,"wires":[["5c2ad383.b531fc"]]},{"id":"59f4d095.fdba78","type":"subflow:f7d20369.2f84b8","z":"a211b539.bfe828","name":"save and manage score","x":790,"y":1680,"wires":[["33549bbe.f79494"]]},{"id":"b8030d5c.741198","type":"subflow:f7d20369.2f84b8","z":"a211b539.bfe828","name":"save and manage score","x":790,"y":2080,"wires":[["b06b039c.b6d4e"]]},{"id":"1c825bf.138c024","type":"mqtt out","z":"f7d20369.2f84b8","name":"","topic":"target/scores/changed","qos":"","retain":"","broker":"79591c5d.99567c","x":1120,"y":100,"wires":[]},{"id":"df758c5e.dc8dc","type":"change","z":"f7d20369.2f84b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"scores","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":100,"wires":[["a6011902.e69d68"]]},{"id":"a945d0f7.eb77f","type":"mqtt in","z":"abd244e8.dce37","name":"","topic":"target/scores/changed","qos":"2","broker":"79591c5d.99567c","x":140,"y":220,"wires":[["dde803e7.6862d"]]},{"id":"85892780.c7c158","type":"switch","z":"abd244e8.dce37","name":"is gamemode == catchemall ?","property":"gamemode","propertyType":"global","rules":[{"t":"eq","v":"catchemall","vt":"str"}],"checkall":"true","outputs":1,"x":770,"y":220,"wires":[["4f9ab4d6.08564c","f7ebfffa.6d35","86d0d4fe.077a48","5ca224e0.aa7c3c","94fbbd05.b36ec","a603f329.79372","e780b2fd.66c3e"]]},{"id":"dbe7e978.9f14a8","type":"switch","z":"abd244e8.dce37","name":"game is running?","property":"isGameRunning","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":530,"y":220,"wires":[["85892780.c7c158"]]},{"id":"88ff6c69.d151b","type":"ui_switch","z":"abd244e8.dce37","name":"","label":"Target 1","group":"97d8b39b.4756a","order":1,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1320,"y":200,"wires":[[]]},{"id":"4f9ab4d6.08564c","type":"switch","z":"abd244e8.dce37","name":"","property":"payload.1","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1030,"y":220,"wires":[["af072cc4.f11ff"],["fadb00a2.60f6e"]]},{"id":"af072cc4.f11ff","type":"change","z":"abd244e8.dce37","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":200,"wires":[["88ff6c69.d151b"]]},{"id":"fadb00a2.60f6e","type":"change","z":"abd244e8.dce37","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":240,"wires":[["88ff6c69.d151b"]]},{"id":"f7ebfffa.6d35","type":"switch","z":"abd244e8.dce37","name":"","property":"payload.2","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1030,"y":300,"wires":[["f9bbdd32.367ab"],["4453806.a57278"]]},{"id":"f9bbdd32.367ab","type":"change","z":"abd244e8.dce37","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":300,"wires":[["e05f8b22.b1a078"]]},{"id":"4453806.a57278","type":"change","z":"abd244e8.dce37","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":340,"wires":[["e05f8b22.b1a078"]]},{"id":"86d0d4fe.077a48","type":"switch","z":"abd244e8.dce37","name":"","property":"payload.3","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1030,"y":380,"wires":[["60c55c3a.8dcbc4"],["931b558c.171228"]]},{"id":"60c55c3a.8dcbc4","type":"change","z":"abd244e8.dce37","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":380,"wires":[["c88218b5.36b938"]]},{"id":"931b558c.171228","type":"change","z":"abd244e8.dce37","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":420,"wires":[["c88218b5.36b938"]]},{"id":"5ca224e0.aa7c3c","type":"switch","z":"abd244e8.dce37","name":"","property":"payload.4","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1030,"y":460,"wires":[["9947637e.bab6c"],["37ad790.03d3488"]]},{"id":"9947637e.bab6c","type":"change","z":"abd244e8.dce37","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":460,"wires":[["5f313f43.7de89"]]},{"id":"37ad790.03d3488","type":"change","z":"abd244e8.dce37","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":500,"wires":[["5f313f43.7de89"]]},{"id":"94fbbd05.b36ec","type":"switch","z":"abd244e8.dce37","name":"","property":"payload.5","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1030,"y":540,"wires":[["df08dfd8.99d08"],["e0183b52.958118"]]},{"id":"df08dfd8.99d08","type":"change","z":"abd244e8.dce37","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":540,"wires":[["442fbce3.58b0a4"]]},{"id":"e0183b52.958118","type":"change","z":"abd244e8.dce37","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":580,"wires":[["442fbce3.58b0a4"]]},{"id":"a603f329.79372","type":"switch","z":"abd244e8.dce37","name":"","property":"payload.6","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1030,"y":620,"wires":[["6b9f4745.2329c8"],["f18fac66.b0adb"]]},{"id":"6b9f4745.2329c8","type":"change","z":"abd244e8.dce37","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":620,"wires":[["65da54b4.b3d78c"]]},{"id":"f18fac66.b0adb","type":"change","z":"abd244e8.dce37","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":660,"wires":[["65da54b4.b3d78c"]]},{"id":"6a64cbc4.46ae94","type":"change","z":"ea4ba4d4.3dd5d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"color","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":40,"wires":[["3bcd075c.77c098"]]},{"id":"7ba9aa1c.34a9a4","type":"mqtt out","z":"ea4ba4d4.3dd5d8","name":"","topic":"","qos":"","retain":"","broker":"79591c5d.99567c","x":510,"y":40,"wires":[]},{"id":"3bcd075c.77c098","type":"template","z":"ea4ba4d4.3dd5d8","name":"set topic","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"target/{{msg.target}}/color","x":360,"y":40,"wires":[["7ba9aa1c.34a9a4"]]},{"id":"50ebbfcf.467cf","type":"subflow:ea4ba4d4.3dd5d8","z":"abd244e8.dce37","name":"switch target to color","x":580,"y":420,"wires":[]},{"id":"8e32b6a6.017da8","type":"ui_dropdown","z":"8f0ae347.b76c3","name":"","label":"Game","group":"83649f9f.239f","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"none","value":"none","type":"str"},{"label":"Catch 'Em All","value":"catchemall","type":"str"},{"label":"Time-Attack","value":"timeattack","type":"str"}],"payload":"","topic":"","x":170,"y":120,"wires":[["455feb03.ca0244","b764d860.043368"]]},{"id":"558ecb23.bcd4e4","type":"ui_button","z":"8f0ae347.b76c3","name":"","group":"83649f9f.239f","order":6,"width":0,"height":0,"label":"Start Game","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":180,"wires":[["568414ff.35f3cc"]]},{"id":"455feb03.ca0244","type":"change","z":"8f0ae347.b76c3","name":"set game mode","rules":[{"t":"set","p":"selectedGameMode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":120,"wires":[[]]},{"id":"568414ff.35f3cc","type":"change","z":"8f0ae347.b76c3","name":"prepare countdown","rules":[{"t":"set","p":"payload","pt":"msg","to":"selectedGameMode","tot":"global"},{"t":"set","p":"countdown","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":180,"wires":[["ea05be22.0c13b","9af4e43c.ce3f68"]]},{"id":"204d34d1.ee1d6c","type":"ui_text","z":"8f0ae347.b76c3","group":"83649f9f.239f","order":5,"width":0,"height":0,"name":"","label":"start in","format":"{{msg.countdown}}","layout":"row-spread","x":630,"y":320,"wires":[]},{"id":"800b67bc.053308","type":"delay","z":"8f0ae347.b76c3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":360,"wires":[["8cd00b8.d8628f8"]]},{"id":"6d5df679.a89598","type":"switch","z":"8f0ae347.b76c3","name":"countdown is zero?","property":"countdown","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":210,"y":260,"wires":[["bf943ecc.eba87"],["97c80fa.f2001f"]]},{"id":"97c80fa.f2001f","type":"function","z":"8f0ae347.b76c3","name":"decrease countdown","func":"msg.countdown--\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["800b67bc.053308","204d34d1.ee1d6c"]]},{"id":"5695f855.9e3a18","type":"mqtt out","z":"8f0ae347.b76c3","name":"game/<GAME>/selected","topic":"","qos":"","retain":"","broker":"79591c5d.99567c","x":550,"y":80,"wires":[]},{"id":"46e94080.7557e","type":"template","z":"e172d31b.9b19c","name":"build topic","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"game/{{payload}}/prepare","x":260,"y":60,"wires":[["fbb8a552.56ca98"]]},{"id":"fbb8a552.56ca98","type":"mqtt out","z":"e172d31b.9b19c","name":"game/<GAME>/prepare","topic":"","qos":"","retain":"","broker":"79591c5d.99567c","x":470,"y":60,"wires":[]},{"id":"a7592c1c.c7fdf","type":"mqtt in","z":"abd244e8.dce37","name":"","topic":"game/catchemall/prepare","qos":"2","broker":"79591c5d.99567c","x":150,"y":80,"wires":[["daaa58c2.8ee078","3eee0b99.a37624"]]},{"id":"9683ebe5.e55918","type":"function","z":"2025be16.e1efa2","name":"reset global scores","func":"var resetedScores = {\n    1: 0,\n    2: 0,\n    3: 0,\n    4: 0,\n    5: 0,\n    6: 0\n}\nglobal.set('scores', resetedScores)\nreturn msg","outputs":1,"noerr":0,"x":450,"y":60,"wires":[["888c5dc.7071aa","a2447ab9.e167b8"]]},{"id":"702ed4be.37ef64","type":"subflow:f7d20369.2f84b8","z":"a211b539.bfe828","name":"save and manage score","x":790,"y":40,"wires":[["2df63cdc.2c47e4"]]},{"id":"a2447ab9.e167b8","type":"mqtt out","z":"2025be16.e1efa2","name":"","topic":"targets/reset","qos":"","retain":"","broker":"79591c5d.99567c","x":650,"y":120,"wires":[]},{"id":"ca0ab1c5.f4be7","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"targets/reset","qos":"2","broker":"79591c5d.99567c","x":130,"y":200,"wires":[["ea1e8222.97f2e"]]},{"id":"1b5f4f55.131c51","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"target/2/reset","qos":"2","broker":"79591c5d.99567c","x":130,"y":640,"wires":[["7a0d2bca.ff89b4"]]},{"id":"a737c8bd.ae9a58","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"targets/reset","qos":"2","broker":"79591c5d.99567c","x":130,"y":600,"wires":[["7a0d2bca.ff89b4"]]},{"id":"bb5378.f0eb0c88","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"target/3/reset","qos":"2","broker":"79591c5d.99567c","x":130,"y":1060,"wires":[["325dd5df.cf7bda"]]},{"id":"78881928.4af1d8","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"targets/reset","qos":"2","broker":"79591c5d.99567c","x":130,"y":1020,"wires":[["325dd5df.cf7bda"]]},{"id":"30a93b8e.0440c4","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"target/4/reset","qos":"2","broker":"79591c5d.99567c","x":130,"y":1480,"wires":[["fd2a082d.84061"]]},{"id":"3649a10b.e4feae","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"targets/reset","qos":"2","broker":"79591c5d.99567c","x":130,"y":1440,"wires":[["fd2a082d.84061"]]},{"id":"c907986a.8afc88","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"target/5/reset","qos":"2","broker":"79591c5d.99567c","x":130,"y":1880,"wires":[["b7489715.cf4a1"]]},{"id":"29325da3.9bb542","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"targets/reset","qos":"2","broker":"79591c5d.99567c","x":130,"y":1840,"wires":[["b7489715.cf4a1"]]},{"id":"46443ac6.154074","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"target/6/reset","qos":"2","broker":"79591c5d.99567c","x":130,"y":2280,"wires":[["ea4c15e8.658ef"]]},{"id":"b0bb0275.b6726","type":"mqtt in","z":"a211b539.bfe828","name":"","topic":"targets/reset","qos":"2","broker":"79591c5d.99567c","x":130,"y":2240,"wires":[["ea4c15e8.658ef"]]},{"id":"daaa58c2.8ee078","type":"subflow:2025be16.e1efa2","z":"abd244e8.dce37","name":"reset all targets to zero","x":380,"y":80,"wires":[]},{"id":"888c5dc.7071aa","type":"debug","z":"2025be16.e1efa2","name":"","active":true,"console":"false","complete":"false","x":650,"y":60,"wires":[]},{"id":"e05f8b22.b1a078","type":"ui_switch","z":"abd244e8.dce37","name":"","label":"Target 2","group":"97d8b39b.4756a","order":2,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1320,"y":300,"wires":[[]]},{"id":"c88218b5.36b938","type":"ui_switch","z":"abd244e8.dce37","name":"","label":"Target 3","group":"97d8b39b.4756a","order":3,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1320,"y":380,"wires":[[]]},{"id":"5f313f43.7de89","type":"ui_switch","z":"abd244e8.dce37","name":"","label":"Target 4","group":"97d8b39b.4756a","order":4,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1320,"y":460,"wires":[[]]},{"id":"442fbce3.58b0a4","type":"ui_switch","z":"abd244e8.dce37","name":"","label":"Target 5","group":"97d8b39b.4756a","order":5,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1320,"y":540,"wires":[[]]},{"id":"65da54b4.b3d78c","type":"ui_switch","z":"abd244e8.dce37","name":"","label":"Target 6","group":"97d8b39b.4756a","order":6,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1320,"y":620,"wires":[[]]},{"id":"e780b2fd.66c3e","type":"function","z":"abd244e8.dce37","name":"calculate hits","func":"var hits = 0\n\nhits += (msg.payload[\"1\"] > 0 ? 1 : 0)\nhits += (msg.payload[\"2\"] > 0 ? 1 : 0)\nhits += (msg.payload[\"3\"] > 0 ? 1 : 0)\nhits += (msg.payload[\"4\"] > 0 ? 1 : 0)\nhits += (msg.payload[\"5\"] > 0 ? 1 : 0)\nhits += (msg.payload[\"6\"] > 0 ? 1 : 0)\n\nmsg.payload = (hits === 6)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["99179702.e9b7e8"]]},{"id":"dde803e7.6862d","type":"json","z":"abd244e8.dce37","name":"","x":330,"y":220,"wires":[["dbe7e978.9f14a8"]]},{"id":"c6a3d65a.9b5d38","type":"mqtt out","z":"dddf75c1.ea3a38","name":"","topic":"ring","qos":"","retain":"","broker":"79591c5d.99567c","x":830,"y":320,"wires":[]},{"id":"141e9760.318079","type":"change","z":"dddf75c1.ea3a38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":320,"wires":[["c6a3d65a.9b5d38"]]},{"id":"5f478d72.95cc24","type":"delay","z":"dddf75c1.ea3a38","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":360,"wires":[["ad782d85.6670b"]]},{"id":"f2d5ab56.db3fb8","type":"mqtt out","z":"dddf75c1.ea3a38","name":"","topic":"ring","qos":"","retain":"","broker":"79591c5d.99567c","x":830,"y":360,"wires":[]},{"id":"ad782d85.6670b","type":"change","z":"dddf75c1.ea3a38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":360,"wires":[["f2d5ab56.db3fb8"]]},{"id":"859c7e2e.177a4","type":"ui_audio","z":"dddf75c1.ea3a38","name":"","group":"83649f9f.239f","voice":"0","x":680,"y":220,"wires":[]},{"id":"ac6fdb01.e90cf8","type":"change","z":"dddf75c1.ea3a38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"bimmel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["859c7e2e.177a4"]]},{"id":"99179702.e9b7e8","type":"switch","z":"abd244e8.dce37","name":"all target hit?","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":590,"y":320,"wires":[["ed0dad6.1b3045"]]},{"id":"ed0dad6.1b3045","type":"mqtt out","z":"abd244e8.dce37","name":"","topic":"game/stop","qos":"","retain":"","broker":"79591c5d.99567c","x":790,"y":360,"wires":[]},{"id":"8cd00b8.d8628f8","type":"link out","z":"8f0ae347.b76c3","name":"","links":["48059ca2.b2e624"],"x":735,"y":360,"wires":[]},{"id":"48059ca2.b2e624","type":"link in","z":"8f0ae347.b76c3","name":"countdown loop","links":["8cd00b8.d8628f8","9af4e43c.ce3f68"],"x":35,"y":260,"wires":[["6d5df679.a89598"]]},{"id":"b902a119.0dae2","type":"ui_text","z":"e172d31b.9b19c","group":"83649f9f.239f","order":7,"width":0,"height":0,"name":"","label":"Spielzeit","format":"{{msg.payload}}s","layout":"row-spread","x":1240,"y":440,"wires":[]},{"id":"11eaaf21.004121","type":"delay","z":"e172d31b.9b19c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":440,"wires":[["c6dd102c.35539"]]},{"id":"c6dd102c.35539","type":"switch","z":"e172d31b.9b19c","name":"","property":"isGameRunning","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":630,"y":440,"wires":[["1b260b96.bae5e4","af896758.302478"]]},{"id":"1b260b96.bae5e4","type":"link out","z":"e172d31b.9b19c","name":"","links":["f774dda.5cfd52"],"x":655,"y":480,"wires":[]},{"id":"f774dda.5cfd52","type":"link in","z":"e172d31b.9b19c","name":"","links":["1b260b96.bae5e4","43313a04.ced834"],"x":355,"y":440,"wires":[["11eaaf21.004121"]]},{"id":"af896758.302478","type":"change","z":"e172d31b.9b19c","name":"","rules":[{"t":"set","p":"currentTimestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":440,"wires":[["cbf5a54e.644c28"]]},{"id":"cbf5a54e.644c28","type":"function","z":"e172d31b.9b19c","name":"","func":"msg.payload = Math.round((msg.currentTimestamp - global.get('gameStartedAt')) / 100) / 10\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":440,"wires":[["b902a119.0dae2","c5a78c4f.ce28a"]]},{"id":"b5b3175a.033998","type":"ui_button","z":"8f0ae347.b76c3","name":"","group":"83649f9f.239f","order":8,"width":0,"height":0,"label":"Abort Game","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":420,"wires":[["c483bcef.8e8e3"]]},{"id":"692c30fa.88bdf","type":"link out","z":"e172d31b.9b19c","name":"","links":["fb83bb27.474f38"],"x":415,"y":320,"wires":[]},{"id":"359d69f0.f59786","type":"link in","z":"e172d31b.9b19c","name":"Time","links":["a4e914ce.e9f838"],"x":915,"y":400,"wires":[["d5dd15f7.08e568"]]},{"id":"d5dd15f7.08e568","type":"change","z":"e172d31b.9b19c","name":"set seconds to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":400,"wires":[["b902a119.0dae2"]]},{"id":"6db5587b.274988","type":"mqtt in","z":"8f0ae347.b76c3","name":"","topic":"game/description","qos":"2","broker":"79591c5d.99567c","x":80,"y":480,"wires":[["fc55d2e7.235b2"]]},{"id":"b764d860.043368","type":"template","z":"8f0ae347.b76c3","name":"build topic","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"game/{{payload}}/selected","x":320,"y":80,"wires":[["5695f855.9e3a18"]]},{"id":"79334581.97571c","type":"mqtt in","z":"abd244e8.dce37","name":"","topic":"game/catchemall/selected","qos":"2","broker":"79591c5d.99567c","x":150,"y":120,"wires":[["c54b699.74d9798"]]},{"id":"c54b699.74d9798","type":"function","z":"abd244e8.dce37","name":"","func":"msg.payload = `Ziel ist es jede Scheibe mindestens ein mal zu treffen!<br />\n<br />\nIhr spielt auf Zeit!`\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["ab3f7fd3.be198"]]},{"id":"ab3f7fd3.be198","type":"mqtt out","z":"abd244e8.dce37","name":"","topic":"game/description","qos":"","retain":"","broker":"79591c5d.99567c","x":490,"y":120,"wires":[]},{"id":"fc55d2e7.235b2","type":"ui_template","z":"8f0ae347.b76c3","group":"83649f9f.239f","name":"rules","order":3,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":350,"y":480,"wires":[[]]},{"id":"716829a5.092948","type":"mqtt in","z":"e172d31b.9b19c","name":"","topic":"game/none/selected","qos":"2","broker":"79591c5d.99567c","x":230,"y":860,"wires":[["19849e97.73d011"]]},{"id":"19849e97.73d011","type":"function","z":"e172d31b.9b19c","name":"set empty description","func":"msg.payload = ``\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":860,"wires":[["6ac84078.92f11"]]},{"id":"6ac84078.92f11","type":"mqtt out","z":"e172d31b.9b19c","name":"","topic":"game/description","qos":"","retain":"","broker":"79591c5d.99567c","x":650,"y":860,"wires":[]},{"id":"453204dd.d95abc","type":"subflow:dddf75c1.ea3a38","z":"e172d31b.9b19c","name":"ring bell","x":460,"y":280,"wires":[]},{"id":"f8497d9e.a4959","type":"subflow:dddf75c1.ea3a38","z":"e172d31b.9b19c","name":"ring bell","x":440,"y":540,"wires":[]},{"id":"3eee0b99.a37624","type":"debug","z":"abd244e8.dce37","name":"","active":false,"console":"false","complete":"false","x":350,"y":40,"wires":[]},{"id":"38725c7c.dbfc14","type":"change","z":"e172d31b.9b19c","name":"Disable \"Start Game\" Button","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":100,"wires":[["cfbb21f1.ccb84"]]},{"id":"cfbb21f1.ccb84","type":"link out","z":"e172d31b.9b19c","name":"disable \"Start Game\" ","links":["d622c85.ba81338"],"x":475,"y":100,"wires":[]},{"id":"da7e3bb3.dac498","type":"change","z":"e172d31b.9b19c","name":"Enable \"Abort Game\" Button","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["8fcd81af.a2aaf"]]},{"id":"8fcd81af.a2aaf","type":"link out","z":"e172d31b.9b19c","name":"enable \"Stop Game\" ","links":["810199a9.aaca18"],"x":475,"y":140,"wires":[]},{"id":"d622c85.ba81338","type":"link in","z":"8f0ae347.b76c3","name":"\"Start Game\"","links":["cfbb21f1.ccb84","d9a0fa85.fc3de8","5b4296c4.2782f8"],"x":35,"y":180,"wires":[[]]},{"id":"810199a9.aaca18","type":"link in","z":"8f0ae347.b76c3","name":"\"Abort Game\"","links":["8fcd81af.a2aaf","e6d75a8.d4befa8","8ba459b5.84f598"],"x":35,"y":420,"wires":[[]]},{"id":"51848e5b.1ff4","type":"change","z":"e172d31b.9b19c","name":"Enable \"Start Game\" Button","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":580,"wires":[["5b4296c4.2782f8"]]},{"id":"5b4296c4.2782f8","type":"link out","z":"e172d31b.9b19c","name":"disable \"Start Game\" ","links":["d622c85.ba81338"],"x":475,"y":580,"wires":[]},{"id":"cf8ee57b.207b88","type":"change","z":"e172d31b.9b19c","name":"Disable \"Abort Game\" Button","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":620,"wires":[["8ba459b5.84f598"]]},{"id":"8ba459b5.84f598","type":"link out","z":"e172d31b.9b19c","name":"enable \"Stop Game\" ","links":["810199a9.aaca18"],"x":475,"y":620,"wires":[]},{"id":"680e1af7.3eac84","type":"link in","z":"e172d31b.9b19c","name":"Game-Framework: Stop Game","links":["c483bcef.8e8e3"],"x":115,"y":540,"wires":[["9d27bfa3.142a1","51848e5b.1ff4","cf8ee57b.207b88"]]},{"id":"2a61aa01.7835c6","type":"comment","z":"e172d31b.9b19c","name":"Game-Framework: Stop Game","info":"","x":230,"y":500,"wires":[]},{"id":"be864689.acd668","type":"comment","z":"e172d31b.9b19c","name":"Game-Framework: Prepare Game","info":"","x":240,"y":20,"wires":[]},{"id":"2bcd174b.4eb738","type":"link in","z":"e172d31b.9b19c","name":"Game-Framework: Prepare Game","links":["ea05be22.0c13b"],"x":115,"y":60,"wires":[["46e94080.7557e","38725c7c.dbfc14","da7e3bb3.dac498","a4e914ce.e9f838"]]},{"id":"ea05be22.0c13b","type":"link out","z":"8f0ae347.b76c3","name":"Button \"Start Game\" -> Prepare Game","links":["2bcd174b.4eb738"],"x":1075,"y":180,"wires":[]},{"id":"25bada8d.447096","type":"comment","z":"e172d31b.9b19c","name":"Game-Framework: Start Game","info":"","x":230,"y":240,"wires":[]},{"id":"9c023ee7.4f319","type":"link in","z":"e172d31b.9b19c","name":"Game-Framework: Start Game","links":["bf943ecc.eba87"],"x":115,"y":280,"wires":[["267d3ba2.aa3cec"]]},{"id":"3056e6f6.d5309a","type":"comment","z":"e172d31b.9b19c","name":"Game-Framework: Target Hit","info":"","x":220,"y":700,"wires":[]},{"id":"2475f49c.2ebc9c","type":"comment","z":"e172d31b.9b19c","name":"Game-Framework: \"Game\" none","info":"","x":230,"y":820,"wires":[]},{"id":"bf943ecc.eba87","type":"link out","z":"8f0ae347.b76c3","name":"","links":["9c023ee7.4f319"],"x":1075,"y":260,"wires":[]},{"id":"9af4e43c.ce3f68","type":"link out","z":"8f0ae347.b76c3","name":"","links":["48059ca2.b2e624"],"x":635,"y":200,"wires":[]},{"id":"c483bcef.8e8e3","type":"link out","z":"8f0ae347.b76c3","name":"","links":["680e1af7.3eac84"],"x":415,"y":420,"wires":[]},{"id":"9cabe22e.08d5e","type":"rbe","z":"8f0ae347.b76c3","name":"","func":"rbe","gap":"","start":"","inout":"out","x":130,"y":420,"wires":[["b5b3175a.033998"]]},{"id":"5677c056.5f95d","type":"rbe","z":"8f0ae347.b76c3","name":"","func":"rbe","gap":"","start":"","inout":"out","x":130,"y":180,"wires":[["558ecb23.bcd4e4"]]},{"id":"a4e914ce.e9f838","type":"link out","z":"e172d31b.9b19c","name":"","links":["359d69f0.f59786"],"x":215,"y":180,"wires":[]},{"id":"84d255de.83f998","type":"mqtt in","z":"e172d31b.9b19c","name":"","topic":"game/stop","qos":"2","broker":"79591c5d.99567c","x":80,"y":580,"wires":[["9d27bfa3.142a1","51848e5b.1ff4","cf8ee57b.207b88"]]},{"id":"ad22cf6f.e53b08","type":"mqtt in","z":"a5a5bf84.ec9fb8","name":"","topic":"game/<KEY>/start","qos":"2","broker":"79591c5d.99567c","x":130,"y":500,"wires":[[]]},{"id":"9d5e9ef0.c401a8","type":"comment","z":"a5a5bf84.ec9fb8","name":"1. Vorbereitung [Doppelklicke mich]","info":"Trage hier bitte den Key ein den Dein Spiel tragen \nsoll. Bitte denke daran, **nur Kleinbuchstaben und \nZahlen** zu verwenden!\n\nDer Name muss ber alle Teilnehmer hinweg eindeutig \nsein. \n\n## Bitte teile uns folgende Infos mit:\n\nName: z.B. Time-Attack\n\nKey: timeattack\n\n## Todo fr Dich\n\nDoppelklicke auf alle lila MQTT-Nodes in denen du\n<KEY> erkennst. Key musst du bitte in allen diesen\nNodes mit deinem Key ersetzen","x":180,"y":80,"wires":[]},{"id":"a858be42.a50218","type":"mqtt in","z":"a5a5bf84.ec9fb8","name":"","topic":"target/scores/changed","qos":"2","broker":"79591c5d.99567c","x":140,"y":620,"wires":[["8f109f58.f14d28"]]},{"id":"84335c18.feadb","type":"mqtt in","z":"a5a5bf84.ec9fb8","name":"","topic":"game/<KEY>/prepare","qos":"2","broker":"79591c5d.99567c","x":140,"y":380,"wires":[[]]},{"id":"7f032ea6.890f08","type":"mqtt in","z":"a5a5bf84.ec9fb8","name":"","topic":"game/<KEY>/selected","qos":"2","broker":"79591c5d.99567c","x":140,"y":240,"wires":[["3d034cc6.420f64"]]},{"id":"3d034cc6.420f64","type":"function","z":"a5a5bf84.ec9fb8","name":"add description here","func":"msg.payload = `Ziel ist es jede Scheibe mindestens ein mal zu treffen!<br />\n<br />\nIhr spielt auf Zeit!`\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["ba4f49c6.b1e32"]]},{"id":"ba4f49c6.b1e32","type":"mqtt out","z":"a5a5bf84.ec9fb8","name":"","topic":"game/description","qos":"","retain":"","broker":"79591c5d.99567c","x":1250,"y":240,"wires":[]},{"id":"ae409457.f30eb8","type":"mqtt out","z":"a5a5bf84.ec9fb8","name":"","topic":"game/stop","qos":"","retain":"","broker":"79591c5d.99567c","x":1230,"y":620,"wires":[]},{"id":"d1a1752c.e3ba7","type":"comment","z":"a5a5bf84.ec9fb8","name":"3. Game Prepare","info":"## Wann wird gepublished?\n\nGame Prepare wird ausgelst, sobald der \nSpielleiter auf \"Start Game\" drckt.\n\nIst das geschehen, wird ein aber zunchst ein \nCountdown heruntergezhlt. Dann wird das \neigentliche Spiel mit \"Game Start\" gestartet.\n\nDu bekommst diese Nachricht genau ein mal pro \nRunde.\n\n## Wozu?\n\nDer Prepare sollte dazu genutzt werden um das \nSpiel vorzubereiten oder zu resetten. Zum \nBeispiel wre es sehr rgerlich wenn die Punkte \naus der letzten Runde in die nun gestartete mit \neinflieen wrden.\n","x":120,"y":340,"wires":[]},{"id":"99f528c4.c48898","type":"comment","z":"a5a5bf84.ec9fb8","name":"2. Game Selected","info":"## Wann wird gepublished?\n\nDer Spielleiter kann ein Spiel auswhlen. Im \nMoment der Auswahl wird eine Message auf ...\n\n```game/<GAME>/selected```\n\n... gepublished.\n\n## Wozu?\n\nDie Spieler sollen wissen um was es in Deinem \nSpiel geht. Deswegen nutze diesen Flow um beim \nAuswhlen Deines Spieles eine Beschreibung \nauszugeben.","x":130,"y":200,"wires":[]},{"id":"f35c860.bde1ef8","type":"comment","z":"a5a5bf84.ec9fb8","name":"4. Game Start","info":"## Wann wird gepublished?\n\nGame Start wird ausgelst, sobald der Countdown \nheruntergezhlt ist und das Spiel startet.\n\nDer Start wird mit einem Signal eingelutet. \nAuerdem wird im Hintergrund ein Timer gestartet, \nder die Zeit misst.\n\nDu bekommst diese Nachricht genau ein mal pro \nRunde.\n\n## Wozu?\n\nMit dem Empfang dieser Message ist das Spiel \ngestartet. Ab jetzt kannst du frei agieren.\n\n","x":110,"y":460,"wires":[]},{"id":"b4eed380.d0fa28","type":"comment","z":"a5a5bf84.ec9fb8","name":"5. Score Changed","info":"## Wann wird gepublished?\n\n\"Score Changed\" wird bei jedem Treffer ausgelst.\nDabei hast du mehrere Mglichkeiten auf die \nTreffer zuzugreifen.\n\n## Mglichkeit 1\n\nDie aktuellen Treffer aller werden im Payload der \nMessage mitgeliefert. Achtung! Der Payload ist in\ndiesem Fall ein String. Mchtest du darauf \nzugreifen empfiehlt es sich, die JSON-Node zu\nnutzen um den String in ein Json-Objekt zu \nwandeln.\n\n## Mglichkeit 2\n\nAlle Treffer sind in der globalen Variable\n\"targets\" gespeichert.\n\n## Mglichkeit 3\n\nJeder der Zielscheiben ist auch einzeln \nber eine globale Variable zugreifbar. Scheibe1\nist z.B. ber \"target1\" abzurufen","x":130,"y":580,"wires":[]},{"id":"8f109f58.f14d28","type":"switch","z":"a5a5bf84.ec9fb8","name":"is Game running?","property":"gamemode","propertyType":"global","rules":[{"t":"eq","v":"<KEY>","vt":"str"}],"checkall":"true","outputs":1,"x":350,"y":620,"wires":[[]]},{"id":"77602565.3b09fc","type":"comment","z":"a5a5bf84.ec9fb8","name":"Wichtig!","info":"Nicht entfernen!","x":310,"y":580,"wires":[]},{"id":"39fddeab.89d912","type":"comment","z":"a5a5bf84.ec9fb8","name":"6. Game Stop","info":"## Wann wird gepublished?\n\nSollten deine Spieler ihr Ziel erreichen ist es\nDeine Aufgabe auf ... \n\n```game/stop```\n\n... zu publishen. Damit Endet die Runde","x":1230,"y":580,"wires":[]},{"id":"db444a12.cbe7b8","type":"mqtt in","z":"f726cb64.226b08","name":"","topic":"game/timeattack/start","qos":"2","broker":"79591c5d.99567c","x":120,"y":360,"wires":[["85ef43d4.de744"]]},{"id":"4feb8773.1add08","type":"mqtt in","z":"f726cb64.226b08","name":"","topic":"target/scores/changed","qos":"2","broker":"79591c5d.99567c","x":120,"y":480,"wires":[["4437b3fd.08ca4c"]]},{"id":"cb597883.99d6d8","type":"mqtt in","z":"f726cb64.226b08","name":"","topic":"game/timeattack/prepare","qos":"2","broker":"79591c5d.99567c","x":130,"y":240,"wires":[[]]},{"id":"317da9f7.c91e7e","type":"mqtt in","z":"f726cb64.226b08","name":"","topic":"game/timeattack/selected","qos":"2","broker":"79591c5d.99567c","x":130,"y":100,"wires":[["a68736b9.ca14e8"]]},{"id":"a68736b9.ca14e8","type":"function","z":"f726cb64.226b08","name":"add description here","func":"msg.payload = `Ziel ist es, in 60 Sekunden, so viele Treffer wie mglich zu erzielen!`\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["7859965f.cbd26"]]},{"id":"7859965f.cbd26","type":"mqtt out","z":"f726cb64.226b08","name":"","topic":"game/description","qos":"","retain":"","broker":"79591c5d.99567c","x":1230,"y":100,"wires":[]},{"id":"73992628.1e4b6","type":"mqtt out","z":"f726cb64.226b08","name":"","topic":"game/stop","qos":"","retain":"","broker":"79591c5d.99567c","x":1210,"y":360,"wires":[]},{"id":"aaf70039.00da68","type":"comment","z":"f726cb64.226b08","name":"3. Game Prepare","info":"## Wann wird gepublished?\n\nGame Prepare wird ausgelst, sobald der \nSpielleiter auf \"Start Game\" drckt.\n\nIst das geschehen, wird ein aber zunchst ein \nCountdown heruntergezhlt. Dann wird das \neigentliche Spiel mit \"Game Start\" gestartet.\n\nDu bekommst diese Nachricht genau ein mal pro \nRunde.\n\n## Wozu?\n\nDer Prepare sollte dazu genutzt werden um das \nSpiel vorzubereiten oder zu resetten. Zum \nBeispiel wre es sehr rgerlich wenn die Punkte \naus der letzten Runde in die nun gestartete mit \neinflieen wrden.\n","x":100,"y":200,"wires":[]},{"id":"6b50bae1.970d74","type":"comment","z":"f726cb64.226b08","name":"2. Game Selected","info":"## Wann wird gepublished?\n\nDer Spielleiter kann ein Spiel auswhlen. Im \nMoment der Auswahl wird eine Message auf ...\n\n```game/<GAME>/selected```\n\n... gepublished.\n\n## Wozu?\n\nDie Spieler sollen wissen um was es in Deinem \nSpiel geht. Deswegen nutze diesen Flow um beim \nAuswhlen Deines Spieles eine Beschreibung \nauszugeben.","x":110,"y":60,"wires":[]},{"id":"7d310784.ba3ac","type":"comment","z":"f726cb64.226b08","name":"4. Game Start","info":"## Wann wird gepublished?\n\nGame Start wird ausgelst, sobald der Countdown \nheruntergezhlt ist und das Spiel startet.\n\nDer Start wird mit einem Signal eingelutet. \nAuerdem wird im Hintergrund ein Timer gestartet, \nder die Zeit misst.\n\nDu bekommst diese Nachricht genau ein mal pro \nRunde.\n\n## Wozu?\n\nMit dem Empfang dieser Message ist das Spiel \ngestartet. Ab jetzt kannst du frei agieren.\n\n","x":90,"y":320,"wires":[]},{"id":"81b1cc1f.f7ffd8","type":"comment","z":"f726cb64.226b08","name":"5. Score Changed","info":"## Wann wird gepublished?\n\n\"Score Changed\" wird bei jedem Treffer ausgelst.\nDabei hast du mehrere Mglichkeiten auf die \nTreffer zuzugreifen.\n\n## Mglichkeit 1\n\nDie aktuellen Treffer aller werden im Payload der \nMessage mitgeliefert. Achtung! Der Payload ist in\ndiesem Fall ein String. Mchtest du darauf \nzugreifen empfiehlt es sich, die JSON-Node zu\nnutzen um den String in ein Json-Objekt zu \nwandeln.\n\n## Mglichkeit 2\n\nAlle Treffer sind in der globalen Variable\n\"targets\" gespeichert.\n\n## Mglichkeit 3\n\nJeder der Zielscheiben ist auch einzeln \nber eine globale Variable zugreifbar. Scheibe1\nist z.B. ber \"target1\" abzurufen","x":110,"y":440,"wires":[]},{"id":"4437b3fd.08ca4c","type":"switch","z":"f726cb64.226b08","name":"is Game running?","property":"gamemode","propertyType":"global","rules":[{"t":"eq","v":"<KEY>","vt":"str"}],"checkall":"true","outputs":1,"x":330,"y":480,"wires":[[]]},{"id":"d1ce77d8.982958","type":"comment","z":"f726cb64.226b08","name":"Wichtig!","info":"Nicht entfernen!","x":290,"y":440,"wires":[]},{"id":"8df63f90.89dd9","type":"comment","z":"f726cb64.226b08","name":"6. Game Stop","info":"## Wann wird gepublished?\n\nSollten deine Spieler ihr Ziel erreichen ist es\nDeine Aufgabe auf ... \n\n```game/stop```\n\n... zu publishen. Damit Endet die Runde","x":1210,"y":320,"wires":[]},{"id":"85ef43d4.de744","type":"delay","z":"f726cb64.226b08","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":360,"wires":[["73992628.1e4b6"]]},{"id":"54602692.26632","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":6,"width":"1","height":"1","label":"ON","color":"","bgcolor":"green","icon":"","payload":"on","payloadType":"str","topic":"","x":150,"y":280,"wires":[["7b2719ad.8f77c8"]]},{"id":"8798c444.85075","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":7,"width":"1","height":"1","label":"OFF","color":"","bgcolor":"grey","icon":"","payload":"off","payloadType":"str","topic":"","x":150,"y":320,"wires":[["7b2719ad.8f77c8"]]},{"id":"7b2719ad.8f77c8","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["e8d8fee4.941f8"]]},{"id":"193bd823.445","type":"function","z":"f7d20369.2f84b8","name":"scores","func":"msg.scores = {}\n\nObject.keys(msg.targets).forEach((index) => {\n  msg.scores[index] = msg.targets[index].score\n})\n\nreturn msg","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["98faf089.9f9c18","df758c5e.dc8dc"]]},{"id":"98faf089.9f9c18","type":"function","z":"f7d20369.2f84b8","name":"colors","func":"msg.colors = {}\n\nObject.keys(msg.targets).forEach((index) => {\n  msg.colors[index] = msg.targets[index].color\n})\nreturn msg","outputs":1,"noerr":0,"x":590,"y":140,"wires":[["a3757b0c.a4093"]]},{"id":"a6011902.e69d68","type":"rbe","z":"f7d20369.2f84b8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":950,"y":100,"wires":[["1c825bf.138c024"]]},{"id":"a3757b0c.a4093","type":"change","z":"f7d20369.2f84b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"scores","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":140,"wires":[["6da02b23.2acbe4"]]},{"id":"6da02b23.2acbe4","type":"rbe","z":"f7d20369.2f84b8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":950,"y":140,"wires":[["66817b18.df42e4"]]},{"id":"66817b18.df42e4","type":"mqtt out","z":"f7d20369.2f84b8","name":"","topic":"target/colors/changed","qos":"","retain":"","broker":"79591c5d.99567c","x":1120,"y":140,"wires":[]},{"id":"ddaa030.e4c5f8","type":"subflow:d8eb89a8.191d08","z":"7e8e71bd.c8b97","name":"get current targets","x":650,"y":160,"wires":[["a8106476.f69ce8"]]},{"id":"2e927753.11f9b8","type":"subflow:d8eb89a8.191d08","z":"dd201062.5ac6d8","name":"get current targets","x":650,"y":80,"wires":[["ff0b12cf.cdc898"]]},{"id":"3253ad10.d8040a","type":"debug","z":"a211b539.bfe828","name":"","active":true,"console":"false","complete":"true","x":720,"y":180,"wires":[]},{"id":"432c3ef5.89621","type":"subflow:d8eb89a8.191d08","z":"f7d20369.2f84b8","name":"","x":260,"y":60,"wires":[["193bd823.445"]]},{"id":"e8d8fee4.941f8","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[["702ed4be.37ef64"]]},{"id":"d46fcb7d.b62f08","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":13,"width":"1","height":"1","label":"ON","color":"","bgcolor":"green","icon":"","payload":"on","payloadType":"str","topic":"","x":150,"y":680,"wires":[["58a3745f.129f34"]]},{"id":"62ac5516.665e6c","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":14,"width":"1","height":"1","label":"OFF","color":"","bgcolor":"grey","icon":"","payload":"off","payloadType":"str","topic":"","x":150,"y":720,"wires":[["58a3745f.129f34"]]},{"id":"58a3745f.129f34","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":680,"wires":[["7ee54109.872148"]]},{"id":"7ee54109.872148","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":680,"wires":[["a7978a7e.b6bdf8"]]},{"id":"d10efb78.857558","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":20,"width":"1","height":"1","label":"ON","color":"","bgcolor":"green","icon":"","payload":"on","payloadType":"str","topic":"","x":150,"y":1100,"wires":[["d111d9d1.b0f2d8"]]},{"id":"63c8b79a.85c9d","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":21,"width":"1","height":"1","label":"OFF","color":"","bgcolor":"grey","icon":"","payload":"off","payloadType":"str","topic":"","x":150,"y":1140,"wires":[["d111d9d1.b0f2d8"]]},{"id":"d111d9d1.b0f2d8","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1100,"wires":[["bc347129.289df8"]]},{"id":"bc347129.289df8","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1100,"wires":[["dc99179c.0d7558"]]},{"id":"3535a3ad.a69314","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":27,"width":"1","height":"1","label":"ON","color":"","bgcolor":"green","icon":"","payload":"on","payloadType":"str","topic":"","x":150,"y":1520,"wires":[["28606372.41ef54"]]},{"id":"8ad6229e.9de2c8","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":28,"width":"1","height":"1","label":"OFF","color":"","bgcolor":"grey","icon":"","payload":"off","payloadType":"str","topic":"","x":150,"y":1560,"wires":[["28606372.41ef54"]]},{"id":"28606372.41ef54","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1520,"wires":[["2c52e761.69502"]]},{"id":"2c52e761.69502","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1520,"wires":[["ac1fc797.6838c8"]]},{"id":"b90ff788.8496f","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":34,"width":"1","height":"1","label":"ON","color":"","bgcolor":"green","icon":"","payload":"on","payloadType":"str","topic":"","x":150,"y":1920,"wires":[["957a8ea0.595"]]},{"id":"8bb7bc37.f808a8","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":35,"width":"1","height":"1","label":"OFF","color":"","bgcolor":"grey","icon":"","payload":"off","payloadType":"str","topic":"","x":150,"y":1960,"wires":[["957a8ea0.595"]]},{"id":"957a8ea0.595","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1920,"wires":[["2ff474f4.0b6a94"]]},{"id":"2ff474f4.0b6a94","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1920,"wires":[["59f4d095.fdba78"]]},{"id":"87afbf8.a67c24","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":41,"width":"1","height":"1","label":"ON","color":"","bgcolor":"green","icon":"","payload":"on","payloadType":"str","topic":"","x":150,"y":2320,"wires":[["7323c955.ffb4b8"]]},{"id":"87a06a1d.f5e228","type":"ui_button","z":"a211b539.bfe828","name":"","group":"3ef05cac.0790c4","order":42,"width":"1","height":"1","label":"OFF","color":"","bgcolor":"grey","icon":"","payload":"off","payloadType":"str","topic":"","x":150,"y":2360,"wires":[["7323c955.ffb4b8"]]},{"id":"7323c955.ffb4b8","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"target","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2320,"wires":[["d8e40188.dd0008"]]},{"id":"d8e40188.dd0008","type":"change","z":"a211b539.bfe828","name":"","rules":[{"t":"set","p":"color","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2320,"wires":[["b8030d5c.741198"]]},{"id":"1794134f.abb9bd","type":"mqtt out","z":"e172d31b.9b19c","name":"","topic":"game/time","qos":"","retain":"","broker":"79591c5d.99567c","x":1250,"y":520,"wires":[]},{"id":"ee200a8f.4bc378","type":"mqtt in","z":"abd244e8.dce37","name":"","topic":"game/time","qos":"0","broker":"79591c5d.99567c","x":100,"y":420,"wires":[["f2a44625.bec188"]]},{"id":"f2a44625.bec188","type":"ui_text","z":"abd244e8.dce37","group":"449b1b27.7f4904","order":7,"width":0,"height":0,"name":"","label":"Spielzeit","format":"{{msg.payload}}s","layout":"row-spread","x":240,"y":420,"wires":[]},{"id":"c5a78c4f.ce28a","type":"rbe","z":"e172d31b.9b19c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1070,"y":520,"wires":[["1794134f.abb9bd"]]}]